Models/obj/Debug/net8.0
Models/obj
Constants/obj
.vs
Models/bin
DataAccess/bin
DataAccess/obj
ConceptCinema/bin
ConceptCinema/obj
ConceptCinema/ConceptCinema.csproj.user
/Constants/bin
*.dll
/Services/bin
/Services/obj
/Repository/obj
/Repository/bin
/.idea
*.user
